@import
	url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

@font-face {
	font-family: "CactusStory";
	src: url("fonts/Cactus Story.ttf");
}

@font-face {
	font-family: 'Roboto';
	src: url('roboto.eot'); /* IE9 Compat Modes */
	src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		
      url('roboto.woff') format('woff'), /* Modern Browsers */
      url('roboto.ttf') format('truetype'), /* Safari, Android, iOS */
      url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	font-family: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
}

/* html { */
/* 	background: url("../images/background.jpg"); */
/* 	background-size: cover; */
/* 	background-repeat: no-repeat; */
/* } */
small {
	width: 100%;
	margin: auto;
	display: block;
}

#auth-form {
	margin: 10px;
	width: 300px;
}

#auth-form label {
	display: block;
	padding-bottom: 5px;
}

#auth-form input {
	padding: 2px 5px;
}

#auth-form input[type=text] {
	min-width: 90%;
}

#auth-form h2 {
	margin-top: 0;
}

#center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-height: 100%;
}

/* BACKGROUNDS */
.kanban-background {
	background: url("../images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.center {
	text-align: center;
}

.frame {
	padding: 12px;
	border: 3px solid #ffffff;
	background-color: #e2e2e2b3;
}

.form-item {
	margin: auto;
	width: fit-content;
}

.form-message {
	color: red;
}

.kanban-title {
	/* 	background: firebrick; */
	background-color: #ff9393;
	padding: 10px;
	margin-bottom: 5px;
	border: 12px solid #7e5f43;
	color: black;
}

table {
	border-spacing: 0;
}

.kanban-table {
	/* 	font-family: "CactusStory"; */
	background-color: #393939;
	border: 18px solid #7e5f43;
	/* 	height: 90%; */
	width: 100%;
	color: white;
	padding: 15px;
}

.kanban-table th, .kanban-table td {
	font-family: "CactusStory";
	font-size: 170%;
	letter-spacing: 3px;
	width: 500px;
	border-right: 2px solid white;
	text-align: center;
}

.kanban-table th {
	border-bottom: 2px solid white;
	height: 50px;
}

.kanban-table th:last-child, .kanban-table td:last-child {
	border-right: none;
}

.kanban-table td {
	height: 600px;
}

.kanban-task {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2%;
	/*     background-color: #ffffa5; */
	box-shadow: 2px 4px 6px #444;
	-moz-box-shadow: 2px 4px 6px #444;
	-webkit-box-shadow: 2px 4px 6px #444;
	transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	border-bottom-right-radius: 60px 10px;
	color: black;
}

.kanban-task>p {
	margin: auto;
	font-family: 'Kalam', cursive;
	font-size: initial;
	letter-spacing: initial;
}

#task_name, #task_type {
	border: none;
	margin: 2px;
	padding: 3px;
}

.kanban-controls {
	height: 60px;
	border: 10px solid #7e5f43;
	background-color: #ff9393;
	width: 50%;
	margin: auto;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.draggable {
	cursor: grab;
	width: 130px;
	height: 130px;
	padding: 0.5em;
	/* 	color: cornflowerblue; */
	overflow: hidden;
	display: inline-block;
}

.icon {
	background: none;
	outline: none;
	border: none;
}

.left-corner-button {
	left: 20px;
}

.right-corner-button {
	right: 20px;
}

.left-corner-button, .right-corner-button {
	position: absolute;
	top: 23px;
	cursor: pointer;
}

#task-details-dialog {
	background-color: #ffffffed;
	border: 5px solid #8e8e8e2e;
	border-radius: 1px;
}

.task-details-button {
	position: absolute;
	margin: 5px;
	right: 0;
	top: 0;
}

.task-details-button>button {
	border-radius: 100%;
	cursor: pointer;
	outline: none;
	border: 2px solid grey;
	padding: 5px;
	width: 32px;
	color: grey;
	font-size: medium;
	font-weight: bold;
}

.task-details-button>button:hover {
	background: #6a6a6a;
	color: #f1f1f1ad;
	border-color: #f1f1f1ad;
}

.task-details-button>button:hover {
	background: #000000;
	color: white;
}

.admin-table {
	margin: auto;
}

.admin-table thead {
	background: #ffffffd4;
}

.admin-table tbody {
	background: #ffffffad;
}

.col-body button {
	cursor: pointer;
	padding: 3px;
}

.col-head, .col-body {
	width: 200px;
	padding: 0px 10px;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
}

.col-head-icon, .col-body-icon {
	width: auto;
}

.col-head:last-child, .col-body:last-child {
	border-right: 2px solid white;
}

.col-head {
	border-top: 2px solid white;
}

.edit-button {
	background: url("../images/editer.png");
	width: 32px;
	height: 32px;
	border: none;
	outline: none;
}